@import "tailwindcss";

:root {
  --background: #F7F7F7;
  --foreground: #171717;
  --navbar: #FEFEFE;
  --yellow: #FFE42C;
  --green: #1FA293;
  --purple: #9A28CD;
  --energy-green: #3BFFB5;
  --skin-pink: #FFD3D2;
  --hot-purple: #B433FF;
  --peach: #FFA480;
  --black: #1D1D1B;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.navbar{
  background-color: var(--navbar);
  margin: 1.5rem 2rem;
}
.logo-img {
  width: 45%;
  height: auto;
  margin: 1rem 2rem;
}

.row {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.navItems {
  display: flex;
  align-items: center;
  margin: 1rem 2rem;

}

.notifications, .quote , .search{
  width: 36.5px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  border-radius: 50px;
  margin: 0;
}

.line {
  margin: 0;
  width: 10px; 
  height: 4px;
  background-color: var(--purple);
}

.notification-badge { 
  position: absolute; 
  top: 0px; 
  right: 0px; 
  background-color: #ff4757; 
  color: white; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  display:flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 12px; 
  font-weight: bold;
  border: 2px solid white;

}

.header{
  height: auto;
  margin-top: 2rem;
}

.scrollItem{
  font-size: 25px;
}

